/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}
section{
  flex: 1 200px;
}

.tarjeta{
  height: 200px;
  opacity: 0.5;
  transition: opacity 500ms;
}
.default{
  background-color: rgb(216, 213, 213);
}
.red{
  background-color: red;
}
.yellow{
  background-color: yellow;
}
.blue{
  background-color: blue;
}
.black{
  background-color: black;
}
.green{
  background-color: green;
}
.white{
  background-color: white;
}
.disabled{
  pointer-events: none;
  opacity: 0.5;
}